<div class="row w-100 mx-0 auth-page">
  <div class="col-md-8 col-xl-6 mx-auto">
    <div class="card">
      <div class="row">
        <div class="col-md-4 pe-md-0">
          <div class="auth-side-wrapper" [ngStyle]="{ 'background-image': 'url(https://via.placeholder.com/219x452)' }">

          </div>
        </div>
        <div class="col-md-8 ps-md-0">
          <div class="auth-form-wrapper px-4 py-5">
            <h5 class="text-muted fw-normal mb-4">Bonjour! Connectez vous a Mtiste.</h5>
            <form class="forms-sample">
              <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Nom d'utilisateur</label>
                <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email" name="username" [(ngModel)]="username" value="admin@demo.com">
              </div>
              <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Mot de passe</label>
                <input type="password" class="form-control" id="exampleInputPassword1" autocomplete="current-password" name="password"  [(ngModel)]="password" placeholder="Password" >
              </div>
              <div class="form-check mb-3">
                <input type="checkbox" class="form-check-input" id="authCheck">
                <label class="form-check-label" for="authCheck">
                  Se souvenir
                </label>
              </div>
              <div>
               <!--
                admin@demo.com
                12345678
                <button type="submit" class="btn btn-primary me-2 mb-2 mb-md-0" (click)="onLoggedin($event)">Login</button> -->
               <button  class="btn btn-primary me-2 mb-2 mb-md-0" (click)="sendLogin(username, password)">Login</button>

              </div>
              <a routerLink="/reservation/edit-reservation" class="d-block mt-3 text-muted">Je suis un client</a>


            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
