<div class="row w-100 mx-0 auth-page">
  <div class="col-md-8 col-xl-6 mx-auto">
    <div class="card">
      <div class="row">
        <div class="col-md-4 pe-md-0">
          <div class="auth-side-wrapper" style="background-image: url(https://www.pornic.com/medias/images/prestataires/multitailles/800x600_chirurgien-dentiste-10871.jpg);background-size: cover; background-position: center ; background-repeat: no-repeat;">

          </div>
        </div>
        <div class="col-md-8 ps-md-0">
          <div class="auth-form-wrapper px-4 py-5">
            <h5 class="text-muted fw-normal mb-4">Créer un compte admin.</h5>
            <form class="forms-sample">
              <div class="mb-3">
                <label for="exampleInputUsername1" class="form-label">Nom</label>
                <input type="text" class="form-control" id="exampleInputUsername1" autocomplete="Username" placeholder="Nom">
              </div>
              <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Email</label>
                <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
              </div>
              <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Mot de passe</label>
                <input type="password" class="form-control" id="exampleInputPassword1" autocomplete="current-password" placeholder="Mot de passe">
              </div>

              <div>
                <button type="submit" class="btn btn-primary me-2 mb-2 mb-md-0" (click)="onRegister($event)">Créer le compte</button>

              </div>
              <a routerLink="/auth/login" class="d-block mt-3 text-muted">Vous avez déjà un compte ? connexion</a>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
