
<p-confirmDialog [style]="{width: '50vw'}" [baseZIndex]="10000"></p-confirmDialog>
<p-messages style="width: 50vw" [value]="msgs"></p-messages>

<div class="container">

<div class="row">
  <div class="col-md-12 stretch-card">
    <div class="card">
      <div class="card-body">
        <div class="row align-items-center">
          <div class="col-lg-8">
            <div class="d-flex align-items-end mb-2 mb-lg-0">
              <h4 class="me-1">Liste des rendez-vous</h4>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="input-group">
              <input class="form-control" [(ngModel)]="term" type="text" placeholder="Recherche...">
              <button class="btn btn-light btn-icon" type="button" id="button-search-addon"><i class="feather icon-search"></i></button>
            </div>
          </div>
        </div>
       <div class="table-responsive mt-3">

          <table id="dataTableExample" class="table">
            <thead>
              <tr>

                <th>#</th>
                <th>C.I.N</th>
                <th>Nom Complet</th>
                <th>Email</th>

                <th>Telephone</th>

                <th>Ajouter une facture</th>
                <th>Operation</th>
              </tr>
            </thead>
            <tbody>

              <tr *ngFor="let patient of patients | filter:term; let i = index">
                <td>{{ i }}</td>
                <td>{{patient.cin}}</td>
                <td>{{patient.nomPrenom}}</td>
                <td>{{patient.email}}</td>
                <td>{{patient.telephone}}</td>

                <td>
                  <button pButton pRipple type="button" (click)="showFactureModule(patient)" icon="pi pi-dollar" class="p-button-rounded p-button-secondary"></button>
         </td>

        <td>
          <button pButton pRipple type="button" (click)="showEditPatientModal(patient)" icon="pi pi-pencil" class="p-button-rounded p-button-warning"></button>
          <button pButton pRipple type="button" (click)="showMoreInfos(patient)" icon="pi pi-info-circle" class="p-button-rounded p-button-success"></button>
           <button pButton pRipple type="button" (click)="confirm1(patient.id)" icon="pi pi-trash" class="p-button-rounded p-button-danger"></button>
    </td>








              </tr>
            </tbody>

          </table>
        </div>
      </div>
    </div>
  </div>




  <p-dialog header="Modifier les informations" [(visible)]="editPatientModal" [modal]="true" [style]="{width: '50vw'}" [baseZIndex]="10000"
    [draggable]="false" [resizable]="false">
    <form class="mt-4" #patientEditForm="ngForm">


      <div class="row">
                <div class="col-sm-12">
          <div class="mb-3">

            <input type="hidden" ngModel="{{ editPatient?.id}}" class="form-control" name="id" placeholder="Entrer Cin" ngModel="">

          </div>
        </div><!-- Col -->
        <div class="col-sm-12">
          <div class="mb-3">
            <label class="form-label">CIN</label>
            <input type="text" ngModel="{{ editPatient?.cin}}" class="form-control" name="cin" placeholder="Entrer Cin" ngModel="">

          </div>
        </div><!-- Col -->

      </div>



      <div class="row">
        <div class="col-sm-12">
          <div class="mb-3">
            <label class="form-label">Nom Complet</label>
            <input ngModel="{{ editPatient?.nomPrenom}}" class="form-control" name="nomComplet" type="text"  placeholder="Entrer le nom et prenom" ngModel>

          </div>
        </div>

      </div>
      <div class="row">
        <div class="col-sm-6">
          <div class="mb-3">
            <label class="form-label">Date de Naissance</label>
            <input ngModel="{{ editPatient?.dateNaissance}}" name="dateNaissance" type="date" class="form-control" ngModel>
           </div>
        </div>
        <div class="col-sm-6">
          <div class="mb-3">
            <label class="form-label">Sexe</label>
            <select class="form-control" ngModel="{{ editPatient?.sexe}}" name="sexe" ngModel>
              <option >Homme</option>
              <option>Femme</option>
            </select>

              </div>
        </div>
      </div>



      <div class="row">
        <div class="col-sm-6">
          <div class="mb-3">
            <label class="form-label">Email</label>
            <input ngModel="{{ editPatient?.email}}" name="email"  type="email" class="form-control" placeholder="Entrer l'adresse mail" ngModel>

          </div>
        </div><!-- Col -->
        <div class="col-sm-6">
          <div class="mb-3">
            <label class="form-label">Telephone</label>
            <input ngModel="{{ editPatient?.telephone}}" name="telephone" type="number" class="form-control" placeholder="+212 ----" ngModel>

          </div>
        </div><!-- Col -->
      </div>


      <div class="row">
        <div class="col-sm-12">
          <div class="mb-3">
            <label class="form-label">Adresse</label>
            <input ngModel="{{ editPatient?.adresse}}" name="adresse" type="text" class="form-control" placeholder="Entrer l'adresse" ngModel>


          </div>

        </div><!-- Col -->

      </div>
      <div class="d-flex justify-content-center mt-2">
        <button type="submit" routerLink="/patients/liste" (click)="onUpdatePatient(patientEditForm.value,editPatient.id)" class="btn btn-success">Enregistrer</button>
        <button (click)="editPatientModal=false" class="btn btn-warning">Annuler</button>
      </div>


    </form>

</p-dialog>

</div>












</div>


<p-dialog header="Plus d'informations" [(visible)]="showDetailDialog" [modal]="true" [style]="{width: '50vw'}" [baseZIndex]="10000"
    [draggable]="false" [resizable]="false">

<div class="row">
  <div class="col-12"><b>CIN: {{patientMoreInfos?.cin}}</b></div>
    <hr>
</div>

<div class="row">
  <div class="col-12"><b>Nom Complet: </b>{{patientMoreInfos?.nomPrenom}}</div>
    <hr>
</div>
<div class="row">
  <div class="col-12"><b>Date naissance: </b>{{patientMoreInfos?.dateNaissance}}</div>
    <hr>
</div>
<div class="row">
  <div class="col-12"><b>Sexe: </b>{{patientMoreInfos?.sexe}}</div>
    <hr>
</div>
<div class="row">
  <div class="col-12"><b>Email: </b>{{patientMoreInfos?.email}}</div>
    <hr>
</div>
<div class="row">
  <div class="col-12"><b>Telephone: </b>{{patientMoreInfos?.telephone}}</div>
    <hr>
</div>
<div class="row">
  <div class="col-12"><b>Adresse: </b>{{patientMoreInfos?.adresse}}</div>
    <hr>
</div>

</p-dialog>


<!-- Ajouter facture module -->


<p-dialog header="Ajouter une facture" [(visible)]="factureModal" [modal]="true" [style]="{width: '50vw'}" [baseZIndex]="10000"
[draggable]="false" [resizable]="false">
<form class="mt-4" #factureForm="ngForm">


  <div class="row">
            <div class="col-sm-12">
      <div class="mb-3">

        <input type="hidden" name="id" class="form-control" name="id" placeholder="Entrer Cin" ngModel="{{patientIdFacture}}" ngModel>

      </div>
    </div><!-- Col -->
    <div class="col-sm-12">
      <div class="mb-3">
        <label class="form-label">Montant</label>
        <input type="number" min="200" class="form-control" name="montant" placeholder="Entrer le montant" ngModel="">

      </div>
    </div><!-- Col -->

  </div>




  <div class="d-flex justify-content-center mt-2">
    <button type="submit" (click)="onAddFacture()" class="btn btn-secondary">Enregistrer</button>
    <button (click)="factureModal=false" class="btn btn-warning">Annuler</button>
  </div>


</form>

</p-dialog>




