
<p-confirmDialog [style]="{width: '50vw'}" [baseZIndex]="10000"></p-confirmDialog>
<p-messages style="width: 50vw" [value]="msgs"></p-messages>

<div class="container">

<div class="row">
  <div class="col-md-12 stretch-card">
    <div class="card">
      <div class="card-body">
        <div class="row align-items-center">
          <div class="col-lg-8">
            <div class="d-flex align-items-end mb-2 mb-lg-0">
              <h4 class="me-1">Liste des patients</h4>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="input-group">
              <input class="form-control" type="text" placeholder="Search mail...">
              <button class="btn btn-light btn-icon" type="button" id="button-search-addon"><i class="feather icon-search"></i></button>
            </div>
          </div>
        </div>
       <div class="table-responsive mt-3">
          <table id="dataTableExample" class="table">
            <thead>
              <tr>

                <th>#</th>
                <th>C.I.N</th>
                <th>Name</th>
                <th>Prenom</th>
                <th>Date Naissance</th>
                <th>Telephone</th>

                <th>Operation</th>

              </tr>
            </thead>
            <tbody>

              <tr  *ngFor="let patient of patients; let i = index">
                <td>{{ i }}</td>
                <td>{{patient.cin}}</td>
                <td>{{patient.nom}}</td>
                <td>{{patient.prenom}}</td>
                <td>{{patient.dateNaissance | date: 'dd/MM/yyyy'}}</td>
                <td>{{patient.telephone}}</td>


        <td>
          <button pButton pRipple type="button" (click)="showModalDialog(patient)" icon="pi pi-pencil" class="p-button-rounded p-button-warning"></button>
          <button pButton pRipple type="button" (click)="showDetailPopUp()" icon="pi pi-info-circle" class="p-button-rounded p-button-success"></button>
           <button pButton pRipple type="button" (click)="confirm1()" icon="pi pi-trash" class="p-button-rounded p-button-danger"></button>
    </td>








              </tr>
            </tbody>

          </table>
        </div>
      </div>
    </div>
  </div>




  <p-dialog header="Modifier les informations" [(visible)]="displayModal" [modal]="true" [style]="{width: '50vw'}" [baseZIndex]="10000"
    [draggable]="false" [resizable]="false">
     <form #editForm="ngForm">

      <div class="row">

        <div class="col-md-12"> <div class="mb-3">
          <label for="exampleInputUsername1" class="form-label">CIN</label>
          <input type="text" name="cin" class="form-control" id="exampleInputUsername1" autocomplete="off" placeholder="Username" ngModel="{{editPatient?.cin}}" >

        </div></div>

      </div>
      <div class="row">

        <div class="col-md-6"> <div class="mb-3">
          <label for="exampleInputUsername1" class="form-label">Prenom</label>
          <input type="text" name="prenom" class="form-control" id="exampleInputUsername1" autocomplete="off" placeholder="Username" ngModel="{{editPatient?.prenom}}">

        </div></div>
        <div class="col-md-6"> <div class="mb-3">
          <label for="exampleInputUsername1" class="form-label">Nom</label>
          <input type="text" class="form-control" name="nom" id="exampleInputUsername1" autocomplete="off" placeholder="Username" ngModel="{{editPatient?.nom}}">

        </div></div>
      </div>


      <div class="row">

        <div class="col-md-6"> <div class="mb-3">
          <label for="exampleInputUsername1" class="form-label">Date Naissance</label>
          <input type="date" name="dateNaissance" class="form-control" id="exampleInputUsername1" autocomplete="off" placeholder="Username" ngModel="{{editPatient?.dateNaissance}}">

        </div></div>
        <div class="col-md-6"> <div class="mb-3">
          <label for="exampleInputUsername1" class="form-label">Genre</label>

          <select name="sexe" class="form-control" ngModel="{{editPatient?.sexe}}">
            <option>Masculin</option>
            <option>Feminin</option>
          </select>

       </div></div>
      </div>



      <div class="row">

        <div class="col-md-6"> <div class="mb-3">
          <label for="exampleInputUsername1" class="form-label">Telephone</label>
          <input type="number" name="telephone" class="form-control" id="exampleInputUsername1" autocomplete="off" placeholder="+212 ------" ngModel="{{editPatient?.telephone}}">

        </div></div>
        <div class="col-md-6"> <div class="mb-3">
          <label for="exampleInputUsername1" class="form-label">Email</label>
          <input type="text" name="email" class="form-control" id="exampleInputUsername1" autocomplete="off" placeholder="Username" ngModel="{{editPatient?.email}}">

        </div></div>
      </div>



      <div class="row">

        <div class="col-md-12"> <div class="mb-3">
          <label for="exampleInputUsername1" class="form-label">Adresse</label>
          <input type="text" name="adresse" class="form-control" id="exampleInputUsername1" autocomplete="off" placeholder="+212 ------" ngModel="{{editPatient?.adresse}}">

        </div></div>

      </div>

    </form>
        <ng-template pTemplate="footer">
            <p-button icon="pi pi-check" class="btn btn-primary" (click)="displayModal=false" label="Enregistrer" class="p-button-text"></p-button>
            <p-button icon="pi pi-times" (click)="displayModal=false" label="Annuler"></p-button>
        </ng-template>
</p-dialog>

</div>







<p-dialog header="Plus de detail" [(visible)]="showDetailDialog" [modal]="true" [style]="{width: '50vw'}" [baseZIndex]="10000"
    [draggable]="false" [resizable]="false">

    <p>jfdfbjdfbdj</p>
        <ng-template pTemplate="footer">
            <p-button icon="pi pi-check" class="btn btn-primary" (click)="showDetailDialog=false" label="Enregistrer" class="p-button-text"></p-button>
            <p-button icon="pi pi-times" (click)="showDetailDialog=false" label="Annuler"></p-button>
        </ng-template>
</p-dialog>





</div>






