
<p-confirmDialog [style]="{width: '50vw'}" [baseZIndex]="10000"></p-confirmDialog>
<p-messages style="width: 50vw" [value]="msgs"></p-messages>

<div class="container">

<div class="row">
  <div class="col-md-12 stretch-card">
    <div class="card">
      <div class="card-body">
        <div class="row align-items-center">
          <div class="col-lg-8">
            <div class="d-flex align-items-end mb-2 mb-lg-0">
              <h4 class="me-1">Liste des consultations</h4>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="input-group">
              <input class="form-control" [(ngModel)]="term" type="text" placeholder="Recherche...">
              <button class="btn btn-light btn-icon" type="button" id="button-search-addon"><i class="feather icon-search"></i></button>
            </div>
          </div>
        </div>
       <div class="table-responsive mt-3">
          <table id="dataTableExample" class="table">
            <thead>
              <tr>

                <th>#</th>
                <th>Description</th>
                <th>Rendez vous</th>

                <th>Patient</th>

                <th>Ajouter Ordonnance</th>
                <th>Operation</th>

              </tr>
            </thead>
            <tbody>

              <tr *ngFor="let consultation of consultations | filter:term; let i = index">
                <td>{{ i }}</td>
                <td>{{consultation.description}}</td>
                <td>{{consultation.rendezVous.dateRdv}}- {{consultation.rendezVous.heureRdv}}</td>
                <td>{{consultation.rendezVous.patient.nomComplet }}</td>
               <td>
                    <button pButton pRipple type="button" (click)="showOrdonnaceModal(consultation)" icon="pi pi-book" class="p-button-rounded p-button-help"></button>

                    </td>

        <td>
          <button pButton pRipple type="button" (click)="showModfierConsultationModal(consultation)" icon="pi pi-pencil" class="p-button-rounded p-button-warning"></button>
          <button pButton pRipple type="button" (click)="showDetailRdvModal()"  icon="pi pi-info-circle" class="p-button-rounded p-button-success"></button>
           <button pButton pRipple type="button" (click)="confirm1()" icon="pi pi-trash" class="p-button-rounded p-button-danger"></button>

          </td>








              </tr>
            </tbody>

          </table>
        </div>
      </div>
    </div>
  </div>



<!-- modifier consultation -->
  <p-dialog header="Modifier les informations" [(visible)]="modifierConsultationModal" [modal]="true" [style]="{width: '50vw'}" [baseZIndex]="10000"
    [draggable]="false" [resizable]="false">
     <form #editConsultationForm="ngForm">

      <div class="row">

        <div class="col-md-12"> <div class="mb-3">

          <input type="hidden" name="id" class="form-control" id="exampleInputUsername1" autocomplete="off" placeholder="Username" ngModel="{{editedConsultation?.id}}" ngModel>

        </div></div>

      </div>
      <div class="row">

        <div class="col-xs-12"> <div class="mb-3">
          <label for="exampleInputUsername1" class="form-label">Prenom</label>

          <textarea name="description" ngModel="{{editedConsultation?.description}}" class="form-control" ngModel></textarea>
        </div>
        </div></div>

        <div class="d-flex justify-content-center mt-2">
          <button type="submit" (click)="onSubmitConsultationForm(editConsultationForm.value)" class="btn btn-secondary">Enregistrer</button>
          <button (click)="modifierConsultationModal=false" class="btn btn-warning">Annuler</button>
        </div>



    </form>

</p-dialog>


<!-- ordonnance modal -->

<p-dialog header="Ajouter une ordonnance" [(visible)]="ordonnanceModal" [modal]="true" [style]="{width: '50vw'}" [baseZIndex]="10000"
[draggable]="false" [resizable]="false">
 <form #ordonnanceForm="ngForm"  >

  <div class="row">

    <div class="col-md-12"> <div class="mb-3">
    <input type="hidden" name="rendezVousId" class="form-control" id="exampleInputUsername1" autocomplete="off" placeholder="Username" [(ngModel)]="consultationId"  ngModel>


    </div></div>


  </div>
 <div class="row">

    <div class="col-xs-12"> <div class="mb-3">
      <label for="exampleInputUsername1" class="form-label">Description</label>

      <textarea class="form-control" name="description" ngModel></textarea>
    </div></div>


  </div>

  <button type="submit"  class="btn btn-primary" >Enregistrer</button><button (click)="ordonnanceModal=false"  class="btn btn-primary" >Fermer</button>


</form>

</p-dialog>







<!-- Plus de detail sur la consultation -->
<p-dialog header="Plus d'informations" [(visible)]="plusDetailRdvModal" [modal]="true" [style]="{width: '50vw'}" [baseZIndex]="10000"
[draggable]="false" [resizable]="false">
 <form #editForm="ngForm">

  <div class="row">

    <div class="col-md-12"> <div class="mb-3">
     <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Pariatur consequatur quas molestiae accusamus eaque maxime amet modi blanditiis enim voluptate! Placeat odio omnis ipsam earum ipsum minima nostrum eveniet. Dolor.</p>
    </div></div>

  </div>


</form>

</p-dialog>
</div>




















