
<p-confirmDialog [style]="{width: '50vw'}" [baseZIndex]="10000"></p-confirmDialog>
<p-messages style="width: 50vw" [value]="msgs"></p-messages>

<div class="container">

<div class="row">
  <div class="col-md-12 stretch-card">
    <div class="card">
      <div class="card-body">
        <div class="row align-items-center">
          <div class="col-lg-8">
            <div class="d-flex align-items-end mb-2 mb-lg-0">
              <h4 class="me-1">Liste des ordonnances</h4>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="input-group">
              <input class="form-control" [(ngModel)]="term" type="text" placeholder="Recherche...">
              <button class="btn btn-light btn-icon" type="button" id="button-search-addon"><i class="feather icon-search"></i></button>
            </div>
          </div>
        </div>
       <div class="table-responsive mt-3">
          <table id="dataTableExample" class="table">
            <thead>
              <tr>

                <th>#</th>
                <th>Patient</th>
                <th>Description</th>
                <th>Operation</th>

              </tr>
            </thead>
            <tbody>

              <tr *ngFor="let ordonnance of ordonnances | filter:term; let i = index">
                <td>{{ i }}</td>
                <td>{{ordonnance.consultation.rendezVous.patient.nomPrenom}}</td>
                <td>{{ordonnance.description | slice:0:20}}...</td>





        <td>
          <button pButton pRipple type="button" (click)="showEditOrdonnanceModal(ordonnance)" icon="pi pi-pencil" class="p-button-rounded p-button-warning"></button>
          <button pButton pRipple type="button" (click)="showDetailPopUp(ordonnance)" icon="pi pi-info-circle" class="p-button-rounded p-button-success"></button>
           <button pButton pRipple type="button" (click)="confirm1(ordonnance.id)" icon="pi pi-trash" class="p-button-rounded p-button-danger"></button>
    </td>








              </tr>
            </tbody>

          </table>
        </div>
      </div>
    </div>
  </div>




  <p-dialog header="Modifier les informations" [(visible)]="displayModal" [modal]="true" [style]="{width: '50vw'}" [baseZIndex]="10000"
    [draggable]="false" [resizable]="false">
     <form #editOrdonnanceForm="ngForm">

      <div class="row">

        <div class="col-md-12"> <div class="mb-3">
         <input type="hidden" name="id" ngModel="{{editOrdonnance?.id}}" ngModel >
        </div></div>

        <div class="col-md-12"> <div class="mb-3">
          <label for="exampleInputUsername1" class="form-label">Desciption</label>
         <textarea name="description" class="form-control" ngModel="{{editOrdonnance?.description}}" ngModel></textarea>
        </div></div>

      </div>


      <div class="d-flex justify-content-center mt-2">
        <button type="submit" (click)="onUpdateOrdonnance(editOrdonnanceForm.value,editOrdonnance.id)" class="btn btn-success">Enregistrer</button>
        <button (click)="displayModal=false" class="btn btn-warning">Annuler</button>
      </div>

    </form>

</p-dialog>

</div>







<p-dialog header="Plus d'informations" [(visible)]="showDetailDialog" [modal]="true" [style]="{width: '50vw'}" [baseZIndex]="10000"
    [draggable]="false" [resizable]="false">

    <div class="row">
      <div class="col-12"><b>Description: </b><br>{{ordonnanceMoreDetail?.description}}</div>
        <hr>
    </div>

</p-dialog>





</div>






